$fondo-menu: #0000EC;
$fondo:  #FFFFFF;
$texto-menu: "IBM Plex Mono" , monospace ;
$texto-titulos: "IBM Plex Sans" , sans-serif;
$color-texto-titulos: #060A24;
$color-botones: #00F3BB;
$size-titulos: 36px;
$texto-botones: "IBM Plex Mono-Medium" , monospace;
$size-botones: 16px;
